.header {
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    &-container {
        display: flex;
    }
    &-logo {
        display: flex;
        align-items: center;
    }
    &-nav {
        .navbar {
            &-nav {
                .nav-link {
                    color: #fff;
                }
                .nav-item {
                    .dropdown-item {
                        color: #000;
                    }
                }
            }
            .offcanvas.show {
                .nav-link {
                    color: #000;
                }
            }
        }
    }
    &-cart {
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
    }
}