<section class="cta-slider"></section>

{% schema %}
{
    "name": "CTA Slider Row",
    "settings": [
    
        {
            "type": "text",
            "id": "heading_text",
            "label": "Heading text"
        },
        {
        "type": "image_picker",
            "id": "cta1_image",
            "label": "CTA 1 Image"
        },
        {
            "type": "image_picker",
            "id": "cta1_hover_image",
            "label": "CTA 1 Hover Image"
        },
        {
            "type": "text",
            "id": "cta1_button_label",
            "label": "CTA 1 button label"
        },
        {
            "type": "url",
            "id": "cta1_button_url",
            "label": "CTA 1 button URL"
        },
        {
            "type": "image_picker",
            "id": "cta2_image",
            "label": "CTA 2 Image"
        },
        {
            "type": "image_picker",
            "id": "cta2_hover_image",
            "label": "CTA 2 Hover Image"
        },
        {
            "type": "text",
            "id": "cta2_button_label",
            "label": "CTA 2 button label"
        },
        {
            "type": "url",
            "id": "cta2_button_url",
            "label": "CTA 2 button URL"
        },
        {
            "type": "image_picker",
            "id": "cta3_image",
            "label": "CTA 3 Image"
        },
        {
            "type": "image_picker",
            "id": "cta3_hover_image",
            "label": "CTA 3 Hover Image"
        },
        {
            "type": "text",
            "id": "cta3_button_label",
            "label": "CTA 3 button label"
        },
        {
            "type": "url",
            "id": "cta3_button_url",
            "label": "CTA 3 button URL"
        }
    ],
    "presets": [
        {
            "name": "3 CTA section with mobile slider"
        }
    ]
}
{% endschema %}