{{ 'section-homepage-hero.css' | asset_url | stylesheet_tag }}

<section class="homepage-hero">
  <div class="hero-container">
      <div class="hero-grid">
          <div class="hero-grid--main">
              <div class="content">

              </div>
              <div class="image">
                <img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="">
              </div>
          </div>
          <div class="hero-grid--upper-right">
               <div class="content">

              </div>
              <div class="image">
                <img src="{{ section.settings.top_right_image | img_url: 'master' }}" alt="">
              </div>
          </div>
          <div class="hero-grid--lower-right">
               <div class="content">

              </div>
              <div class="image">
                <img src="{{ section.settings.bottom_right_image | img_url: 'master' }}" alt="">
              </div>
          </div>
      </div>
  </div>
</section>



{% schema %}
{
    "name": "Hero",
    "class": "hero-section",
    "settings": [
        {
            "type": "url",
            "id": "main_url",
            "label": "Main section link"
        },
        {
            "type": "text",
            "id": "button_1_text",
            "label": "Main button text."
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Main left image"
        },
        {
            "type": "text",
            "id": "heading_1",
            "label": "Main heading."
        },
        {
            "type": "text",
            "id": "subheading_1",
            "label": "Main sub-heading."
        },
        {
            "type": "text",
            "id": "top_right_heading",
            "label": "Top right grid heading."
        },
        {
            "type": "richtext",
            "id": "top_right_subheading",
            "label": "Top right grid subheading."
        },
        {
            "type": "url",
            "id": "top_right_link",
            "label": "Top right grid link."
        },
        {
            "type": "image_picker",
            "id": "top_right_image",
            "label": "Top right grid image."
        },
        {
            "type": "text",
            "id": "bottom_right_heading",
            "label": "Bottom right grid heading."
        },
        {
            "type": "richtext",
            "id": "bottom_right_subheading",
            "label": "Bottom right grid subheading."
        },
        {
            "type": "url",
            "id": "bottom_right_link",
            "label": "Bottom right grid link."
        },
        {
            "type": "image_picker",
            "id": "bottom_right_image",
            "label": "Bottom right grid image."
        }
    ],
    "presets": [
         {
            "name": "Hero with 3 image grid"
         }
    ]

}
{% endschema %}