.header {
  background-color: #000;
  color: #fff;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header-container {
  display: flex;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-nav .navbar-nav .nav-link {
  color: #fff;
}
.header-nav .navbar-nav .nav-item .dropdown-item {
  color: #000;
}
.header-nav .navbar .offcanvas.show .nav-link {
  color: #000;
}
.header-cart {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}